IO_LOC  "output_interp_unsigned[11]" 34;
IO_PORT "output_interp_unsigned[11]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "output_interp_unsigned[10]" 33;
IO_PORT "output_interp_unsigned[10]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "output_interp_unsigned[9]" 30;
IO_PORT "output_interp_unsigned[9]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "output_interp_unsigned[8]" 29;
IO_PORT "output_interp_unsigned[8]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "output_interp_unsigned[7]" 28;
IO_PORT "output_interp_unsigned[7]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "output_interp_unsigned[6]" 27;
IO_PORT "output_interp_unsigned[6]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "output_interp_unsigned[5]" 26;
IO_PORT "output_interp_unsigned[5]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "output_interp_unsigned[4]" 25;
IO_PORT "output_interp_unsigned[4]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "output_interp_unsigned[3]" 39;
IO_PORT "output_interp_unsigned[3]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "output_interp_unsigned[2]" 36;
IO_PORT "output_interp_unsigned[2]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "output_interp_unsigned[1]" 37;
IO_PORT "output_interp_unsigned[1]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "output_interp_unsigned[0]" 38;
IO_PORT "output_interp_unsigned[0]" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "output_Dac_CLK" 40;
IO_PORT "output_Dac_CLK" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "input_BTN_step" 57;
IO_PORT "input_BTN_step" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "input_Rot_B" 68;
IO_PORT "input_Rot_B" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "input_Rot_A" 55;
IO_PORT "input_Rot_A" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "input_BTN_mode" 35;
IO_PORT "input_BTN_mode" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "input_RESET_gen" 4;
IO_PORT "input_RESET_gen" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "input_clk_27M" 52;
IO_PORT "input_clk_27M" IO_TYPE=LVCMOS33 PULL_MODE=UP;
